*

!.gitignore
!README.md
!bunsen-setup-notes.txt
!arch-setup-notes.txt

## configs
!.config/
.config/*

# conky
!.config/conky/
.config/conky/*
!.config/conky/nonphatic.conkyrc
!.config/conky/images/
.config/conky/images/*
!.config/conky/images/weather/
!.config/conky/images/weather/*
!.config/conky/images/weather-icons/
!.config/conky/images/weather-icons/*

# openbox
!.config/openbox/
!.config/openbox/*

# i3
!.config/i3
!.config/i3/*

# i3status
!.config/i3status
!.config/i3status/*

# tint2
!.config/tint2/
!.config/tint2/*

## vim
!.vimrc
