*

!.gitignore
!README.md
!bunsen-setup-notes.txt

# configs
!.config/
.config/*

## conky
!.conkyrc
!.config/conky/
.config/conky/*
!.config/conky/images/
.config/conky/images/*
!.config/conky/images/weather/
!.config/conky/images/weather/*
!.config/conky/images/weather-icons/
!.config/conky/images/weather-icons/*

## openbox
!.config/openbox/
!.config/openbox/*

## tint2
!.config/tint2/
!.config/tint2/*

## terminator
!.config/terminator/
!.config/terminator/*

# vim
!.vimrc

# updating firefox
!updatefirefox.sh
